<ion-content class="bg">

  <div class="header">
    <h1>⭐ ¿Quién soy?</h1>
  </div>

  <!-- Imagen -->
  <div class="image-container">
    <img src="assets/mifoto.jpeg" alt="perfil">
  </div>

  <!-- Card principal -->
  <div class="card">
    <h2 class="name">Ana Dey Rios Garcia 💖</h2>
    <p class="role">Desarrollador de Apps</p>

    <p class="desc">
      Estudiante de Ing. Informática del TecNM Campus de la Región Sierra.
    </p>

    <!-- Datos -->
    <div class="info">
      <div class="box">
        🎓 <br>
        <span>8vo. Semestre</span>
      </div>

      <div class="box">
        💻 <br>
        <span>Dev Apps</span>
      </div>
    </div>
  </div>

  <!-- Sobre mí -->
  <div class="card about">
    <h3>✨ Sobre mí</h3>
    <p>
      Apasionada por la tecnología y el desarrollo de aplicaciones móviles.
      Me encanta crear soluciones que hagan la vida más fácil 💕
    </p>
  </div>

</ion-content>